# Grid
num_heights = 160, , int
min_height_change = 50.0, m, float
max_height_change = 50.0, m, float
height_change_exponential_base = 1.01, , float
time_step = 3, s, float
total_time = 36, hr, float

# Dynamics scheme settings
dynamics_schema = 1, , int
#    Above-model-scale parameters
constant_geostrophic_flow = 1, , bool
geostrophic_u = 1.0, m s^(-1), float
geostrophic_v = 1.0, m s^(-1), float

# Turbulence scheme settings
turbulence_schema = 1, , int
moisture_processes_enabled = 0, , bool
#    Low-level initialization
roughness_length = 0.1, m, float
starting_surface_layer_depth = 50, m, float
constant_surface_layer_depth = 1, , bool
starting_boundary_layer_depth = 50, m, float
constant_boundary_layer_depth = 0, , bool

# Radiation scheme settings
radiation_schema = 1, , int
wavenumber_minimum = 50, cm^(-1), int
wavenumber_maximum = 50000, cm^(-1), int
#    Stratospheric settings
ozone_layer_depth = 20, km, float
ozone_layer_average_ozone = 0.000012, , float
ozone_layer_average_water_vapor = 0.000005, , float
ozone_layer_temp = 240, K, float

# Boundary layer height change settings
boundary_layer_height_schema = 1, , int

# Soil qualities
soil_emissivity = 0.95, , float
soil_density = 1500, kg m^(-3), float
soil_heat_capacity = 1000, J kg^(-1) K^(-1), float
soil_depth = 0.1, m, float

# Default location data
default_lat = 40, degree, float
default_lon = -100, degree, float